<div>
	<div class="row">
		<% if (user.ROLE == "Admin") { %>
			<button class="btn btn-default pull-right new-device" onclick="document.location.href += '/newDevice'"><span class="glyphicon glyphicon-plus"></span>Add Device</button>
		<% } %>
	</div>
	<div class="text-capitalize">
		<% if(overdueDevices.length > 0) { %>
			<div class="row alert alert-info">
				<b>The following device<%if(overdueDevices.length > 1){%>s are<%} else {%> is <%}%> overdue:</b>
				<ui>
				<% for(var i = 0; i < overdueDevices.length; i++) { %>
					<li><%= overdueDevices[i].NAME %></li>					
				<% } %>
				</ui>
			</div>
		<% }%>
		<div class="row">
			<h3 class="col-xs-3 pull-left">my devices</h3>
		</div>
		<% if(myDevices.length > 0) { %>
			<table class="device-list table table-striped">
			    <thead>
		      		<tr>
				        <th>device name</th>
				        <th>availability</th>
				        <th>return date</th>
				        <th>condition</th>
				        <th></th>
						<% if (user.ROLE == "Admin") { %>
				        <th></th>
						<% } %>
		      		</tr>
			    </thead>
			    <tbody>
		    		<% for(var i = 0; i < myDevices.length; i++) { %>
						<tr>
							<td>
								<%= myDevices[i]["NAME"]%>
							</td>
							<td>
								<% if(myDevices[i]["CHECKED_OUT"] === 0){ %>
										<span class="glyphicon glyphicon-ok "></span><span>  Available</span>
								<% } else { %>
										<span class="glyphicon glyphicon-remove "></span><span>  Unavailable</span>
								<% }%>
							</td>
							<td>
								<% if(myDevices[i]["CHECKED_OUT"] !== 0) {
										if(myDevices[i]["CHECK_OUT_DATE"]) { %>
											<%= myDevices[i]["RETURN_DATE"]%>
										<% } else {%>
											<span>no date available</span>
										<% }%>
								<% }%>
							</td>
							<td>
								<%= myDevices[i]["CONDITION"]%>
							</td>
							<td>
								<% if(myDevices[i]["CHECKED_OUT"] !== 0) { %>
									<button class="btn btn-success" onclick="document.location.href += '/return' + '/<%= myDevices[i]["ID"] %>';">Return</button>
								<% } else { %>
									<button class="btn btn-success" onclick="document.location.href += '/reserve' + '/<%= myDevices[i]["ID"] %>';">Reserve</button>
								<% }%>
							</td>
							<% if (user.ROLE == "Admin") { %>
							<td>
								<button class="btn btn-danger" onclick="document.location.href += '/delete' + '/<%= myDevices[i]["ID"] %>';">Delete</button>
							</td>
							<% } %>
						</tr></a>
					<% } %>
			    </tbody>
		  	</table>
	  	<%} else {%>
	  		<div class="row text-center">
		  		<h4>No reserved devices</h4>
	  		</div>
	  	<%}%>
	</div>
	<hr>
	<div class="text-capitalize">
		<div class="row">
			<h3 class="col-xs-3 pull-left">device list</h3>
		</div>
		<% if(devices.length > 0) { %>
			<table class="device-list table table-striped">
		    <thead>
	      		<tr>
			        <th>device name</th>
			        <th>availability</th>
			        <th>return date</th>
			        <th>condition</th>
			        <th></th>
					<% if (user.ROLE == "Admin") { %>
			        <th></th>
					<% } %>
	      		</tr>
		    </thead>
		    <tbody>
	    		<% for(var i = 0; i < devices.length; i++) { %>
					<tr>
						<td>
							<%= devices[i]["NAME"]%>
						</td>
						<td>
							<% if(devices[i]["CHECKED_OUT"] === 0){ %>
									<span class="glyphicon glyphicon-ok "></span><span>  Available</span>
							<% } else { %>
									<span class="glyphicon glyphicon-remove "></span><span>  Unavailable</span>
							<% }%>
						</td>
						<td>
							<% if(devices[i]["CHECKED_OUT"] !== 0) {
									if(devices[i]["CHECK_OUT_DATE"]) { %>
										<%= devices[i]["RETURN_DATE"]%>
									<% } else {%>
										<span>no date available</span>
									<% }%>
							<% }%>
						</td>
						<td>
							<%= devices[i]["CONDITION"]%>
						</td>
						<td>
							<% if(devices[i]["CHECKED_OUT"] !== 0) { %>
								<% if (user.ROLE == "Admin" || myDevices.indexOf(devices[i]) > -1) { %>
									<button class="btn btn-success" onclick="document.location.href += '/return' + '/<%= devices[i]["ID"] %>';">Return</button>
								<% }%>
							<% } else { %>
								<button class="btn btn-success" onclick="document.location.href += '/reserve' + '/<%= devices[i]["ID"] %>';">Reserve</button>
							<% }%>
						</td>
						<% if (user.ROLE == "Admin") { %>
						<td>
							<button class="btn btn-danger" onclick="document.location.href += '/delete' + '/<%= devices[i]["ID"] %>';">Delete</button>
						</td>
						<% } %>
					</tr></a>
				<% } %>
		    </tbody>
	  		</table>
  	  	<%} else {%>
  	  		<div class="row text-center">
  		  		<h4>No registered devices</h4>
  	  		</div>
  	  	<%}%>
	</div>
</div>