<html lang="en">
  <head>
    <% include ../views/partials/head %>
  </head>
  <body>
    <header>
        <% include ../views/partials/header %>
    </header>

    <% include ../views/partials/sidebar %>
    
    <div class="main">
        <p><strong>Building ID:</strong> <%= classroom["BUILDING_ID"] %></p>
        <p><strong>Room Number:</strong> <%= classroom["ROOM_NUM"] %></p>
        <p><strong>Capacity:</strong> <%= classroom["CAPACITY"] %></p>
        <p><strong>Current Courses in Classroom:</strong> <%= JSON.stringify(classroom) %></p>
        <p><strong>Student List:</strong> Will be putting student stuff here. <%= %></p>
        
        <p><%= JSON.stringify(classroom) %></p>
        
        
    </div>

    <% include ../views/partials/footer %>
  </body>
</html>
